<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body background={{bgimg}}>
    
    <div class="x">
        <mat-card mat-raised-button>
            <div class="z">
                <mat-card-header>
                    <mat-card-title class="title">{{weather.location.name}},{{weather.location.country}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="pic"><img src={{weather.current.condition.icon}}></mat-card-content>
                <mat-card-actions class="temp">{{weather.current.temp_c}}&deg;C</mat-card-actions><br><br>
                <mat-card-footer><span class="footer one"><b>{{wind}}</b> :{{weather.current.wind_kph}}kph</span><span class="footer two"><b>{{humidity}}</b> :{{weather.current.humidity}}</span></mat-card-footer>
            </div>
        </mat-card>
    </div>      
</body>
</html>